body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*//my code starts here*/

#accdetailsbutton{
    background-color: green;
}

#accindexbutton{
    background-color:green;
}

#butdetailsbutton{
    background-color: red;
}

#butindexbutton{
    background-color:red;
}

#shoedetailsbutton{
    background-color:blue;
}

#shoeindexbutton{
    background-color:blue;
}

#topdetailsbutton{
    background-color:rebeccapurple;
}

#topindexbutton{
    background-color:rebeccapurple;
}

#mainpagebutton{
    background-color:orange;
}

#accessoriesdetails{
    background-color:lightgreen;
}

#accessoriesindex{
    background-color:lightgreen;
}

#bottomsdetails{
    background-color:indianred;
}

#bottomsindex{
    background-color:indianred;
}

#shoesdetails{
    background-color:lightblue;
}

#shoesindex{
    background-color:lightblue;
}

#topsdetails{
    background-color:mediumpurple;
}

#topsindex{
    background-color:mediumpurple;
}

#mainpage{
    background-color:navajowhite;
}